//여러 파일에서 사용될 수 있는 Sass 변수 및 믹스인은 다른 파일로 분리하여 작성한 뒤 필요한곳에서 쉽게 불러와 사용.

//변수 사용하기. 반복적으로 사용되는 값을 변수로 지정. 변수앞에는 항상 $를 붙임.
$red: #fa5252;
$orange: #fd7e14;
$yellow: #fcc419;
$green: #40c057;
$blue: #339af0;
$indigo: #5c7cfa;
$violet: #7950f2;

//믹스인 만들기(재사용되는 스타일 블록을 함수처럼 사용가능)
//mixin : 스타일 시트에서 재사용할 CSS 선언 그룹을 정의하는 기능. 함수처럼 인수를 가질 수 있음.
//선언하기(@mixin), 포함하기(@include)
@mixin square($size) {
  $calculated: 32px * $size; //변수 유효범위는 선언된 블록{} 안에서만 유효.
  //일반적으로는 절대값을 나타내는 px단위로 연산하지만, 상대적 단위의 연산의 경우 CSS calc()로 연산해야함.
  width: $calculated;
  height: $calculated;
}
